// This Scss File Contains Global Properties

@font-face {
    font-family: 'Segoe UI';
    src: URL('../dist/font/SEGOEUI.TTF') format('truetype');
}

.margin-auto{
    margin-left: auto;
    margin-right: auto;
}

.color-gray{
    color: $third-text-color;
}