$primary-color: #FAFAFA;
$secondary-color: #FFF;
$first-text-color: #262626;
$second-text-color: #0095F6;
$third-text-color: #8E8E8E;
$fifth-text-color: #C7C7C7;
$gradient-top-color: #DE0046;
$gradient-bottom-color: #F7A34B;
$container-width: 935px;
$screen-sm-min: 641px;
$screen-md-min: 999px;
// $screen-lg-min: 992px;
// $screen-xl-min: 1200px;

