// SIDE BAR
.side-bar{
    margin-top: 46px;
    position: sticky;
    top: 20px;
    margin-left: auto;
    width: $container-width - 614;

    a{
        margin-left: auto;
        font-size: 13px;
        font-weight: 600;
        color: $second-text-color;
    }

    .switch{
        display: flex;
        gap: 21px;
        align-items: center;

        img{
            width: 56px;
            height: 56px;
            border-radius: 56px;
        }

        p{
            font-size: 14px;
        }

        p:nth-child(1){
           font-weight: 600;
           margin-bottom: 10px;
        }

       
    }

    .suggestion{
        margin: 24px 0;

        .head{
            display: flex;

            h4{
                font-weight: 600;
            }

            p{
                font-weight: 600;
                font-size: 13px;
                margin-left: auto;
                color: $first-text-color;
            }
        }

        .users{
            .user{
                display: flex;
                align-items: center;
                gap: 12px;
                margin-top: 14px;

                img{
                    width: 32px;
                    height: 32px;
                    border-radius: 32px;
                }

                .user-info{
                    a{
                        font-weight: 500;
                        font-size: 14px;
                        color: $first-text-color;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    
                    p{
                        font-size: 12px;
                        margin-top: 5px;
                    }
                }

            }
        }

    }

    &-footer{
        height: 105px;
        font-size: 12px;
        color: $fifth-text-color;

            ul{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 24px;
                gap: 3px;
                
                a{
                    font-size: 12px;
                    color: $fifth-text-color;
                    font-weight: 500;
                    margin: 0;

                    &:hover{
                        text-decoration: underline;
                    }

                    li{
                        margin-right: 12px;
                    }

                } 
            }
    }

}